<div ng-cloak>
	<div class="row">
		<div class="col-md-12 text-center">
			<h1 translate="login.title">Login</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 voffset3 text-center">
			<div class="alert alert-danger" ng-show="authenticationError">
				<p translate="error.authentication"><strong>Failed to log in!</strong> Please check your credentials and try again.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<form class="form" role="form" name="loginForm" ng-submit="login(loginForm.$valid)">
				<div class="form-group">
					<label for="username" translate="login.form.username">Login</label>
					<input type="text" class="form-control" ng-model="username"
								 placeholder="{{'login.form.username.placeholder'| translate}}" required autofocus>
					<span class="label label-danger" translate="{{fieldErrors.username}}"></span>
				</div>
				<div class="form-group">
					<label for="password" translate="login.form.password">Password</label>
					<input type="password" class="form-control" ng-model="password"
								 placeholder="{{'login.form.password.placeholder'| translate}}" required>
					<span class="label label-danger" translate="{{fieldErrors.password}}"></span>
				</div>
				<p class="help-block" translate="login.hint">Hint: Enter username "alice" and password "secret".</p>
				<div class="row">
					<div class="col-xs-6">
						<button type="submit" class="btn btn-primary btn-block" translate="global.login">Login</button>
					</div>
					<div class="col-xs-6">
						<button type="reset" class="btn btn-primary btn-block" ng-click="cancel()" translate="global.cancel">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="voffset5 text-center" ng-if="DEBUG_INFO_ENABLED">
		<a href="" class="btn btn-default" ng-click="showMetadata = !showMetadata">show debug info</a>
		<pre class="text-left voffset2" ng-show="showMetadata"><code>{{metadata | json}}</code></pre>
	</div>
</div>
