<div ng-cloak>
	<div class="row">
		<div class="col-md-12 text-center">
			<h1 translate="error.title">Invalid request</h1>

			<div class="voffset4" ng-show="errorMessage">
				<div class="alert alert-danger"><h4>{{errorMessage}}</h4></div>
			</div>
		</div>
	</div>
</div>
